#Project{
padding: 30px;
justify-content: center;
align-items: center;
/* text-align: center; */
object-fit: contain;

}
.titlee{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3.75rem;
  font-weight: 900;
  /* margin-left: 40%; */
  /* border-bottom: 2px solid purple; */
  
}
.photo{
  width: 500px;
  height: 300px;
}
.discribe{
  font-size: 1.5rem;
  color: black;
  font-weight: 900;
}
.buton{
  font-size: large;
  padding: 5px;
  font-weight: 5400;
  border-radius: 10px;
  background-color: rgb(23, 177, 244);
  color: white;
}
.card{
  background-color: rgb(94, 2, 86);
}
/* .outer{
background-color: aqua;
} */
/* .inner{
  background-color: brown;
} */
.discribe{
  background-color: aquamarine;
 flex-direction: column;
  padding: 10px;
 
}