#skills{
  /* margin-top: 6px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 50px; */
  /* object-fit: contain; */
  overflow: hidden;
  /* width: 100vw; */
  /* max-width: 75rem; */
  margin: 0, auto;
  /* height: 100vh; */
}
.skillTitle{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3.75rem;
  font-weight: 900;
  /* margin-left: 40%; */
  border-bottom: 2px solid purple;
  
 

}
.skillBars{
  
  padding: 1rem;
  font-size: ;
}


.skillBar{
  /* max-width: 75rem; */
  width: 45rem;
  display: flex;
  padding: 1rem;
  gap: 2rem;
  border: 1px solid purple;
  font-size: ;
  /* background-color: rgb(50,50,50); */
  background-color: rgb(20,20,20);
  border-radius: 20px;
  margin: 1rem;

}
.heading{
  border-bottom: 2px solid purple;
  font-size: 1.75rem;
}
.skillBarPara{
  font-size: 1rem;
  font-weight: 100;
  margin-top: 2px;
}
.skillBarImg{
  height: 70px;
  width: 100px;
  border-radius: 10px;
  margin-left: 30px;
 

}
@media screen and (max-width:360px){
  .skillBars{
    right: -50vw;
  }
  .skillbartext>p{
    font-size: 3vw;
  }
  .skillBarImg{
    height: 2.25rem;
    width: 2.25rem;
  }
}