#experience {
  margin: 0 auto;
  min-height: calc(100vh-4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
 
}
.experienceHeading {
  margin: 1rem 0;
  font-size: 3rem;
  border-bottom: 2px solid purple;
}
.experienceDesc {
  font-size: 1.25rem;
  font-weight: 200;
  max-width: 50rem;
}
.experienceImages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 55rem;
  flex-wrap: wrap;
  margin: 2rem auto;
}
.experienceImage {
  object-fit: contain;
  height: 6rem;
  /* width: 7rem; */
  margin: 0.5rem;
  border: 2px solid purple;
}

#contact {
  margin: 0 auto;
  margin-top: 70px;
  min-height: calc(100vh-4rem);
  width: 100vw;
  max-width: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}
.contactPageTitle {
  font-size: 3.5rem;
  border-bottom: 2px solid purple;
}
.contactForm {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90vw;
  max-width: 60rem;
}
.name,
.email,
.msg {
  font-size: medium;
  width: 60%;
  text-align: center;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.75rem 1rem;
  color: white;

  border-radius: 0.25rem;
  background-color: rgb(30, 30, 30);
  border: 1px solid rgb(54, 54, 54);
}

.contactBtn {
  margin: 1rem;
  background-color: white;
  border: 2px solid purple;
  border-radius: 2rem;
  font-size: 1.2rem;
  padding: 0.5rem 2.75rem;
  font-weight: 600;
}
.contactBtn:hover {
  cursor: pointer;
  color: purple;
  box-shadow: purple;
  border: 2px solid purple;
}
.link {
  object-fit: cover;
  height: 2rem;
  width: 2rem;
  margin: 1rem 0.5rem;
  border-radius: 50%;
}
