  /* .header{
  background-color: brown;
  border: 3px;
  border-radius: 2pxt fals;
} */

.navbar{
  height: 2rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  align-items: center;
  justify-content:space-between;
  color: blue;
  background-color: aquamarine;
  display: flex;
  
  
}
.desktopMenuListItem{
cursor: pointer;
margin: 1rem;

}