  /* .header{
  background-color: brown;
  border: 3px;
  border-radius: 2pxt fals;
} */

.navbar{
  background-color: rgb(10, 10, 10);
  height: 4rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 ;
  padding: 1rem 2rem;
  align-items: center;
  justify-content:space-between;
  /* color: blue;
  background-color: aquamarine; */
  display: flex;
  position: sticky;
  top: 0;
  z-index: 3;
 
}

.logo{
  /* object-fit: cover; */
  height: 6rem;
  width: 3.5rem;
  
   
}
.desktopMenuListItem{
cursor: pointer;
margin: 1rem;
font-size: larger;

}

.desktopMenuListItem:hover {
  color: purple;
  padding-bottom: 0 5rem;
  border-bottom: 3px solid purple;
}
.desktopMenuBtn{
  
  border-radius: 2rem;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  cursor: pointer;
  border-color: purple;

}
.desktopMenuImg{
  object-fit: cover;
  height: 1rem;
  
  margin: 0.5rem;
}

.active {
  color: purple;
  padding-bottom: 0.5rem;
  border-radius: 2px solid purple;
}