  /* .header{
  background-color: brown;
  border: 3px;
  border-radius: 2pxt fals;
} */

.navbar{
  height: 3rem;
  background-color: aquamarine;
  display: flex;
  
}
.desktopMenu{
  text-align: center;
  text-decoration: dotted;
  padding-left: 100px;
  white-space: 40px;
  justify-content: center;
  gap: 3px;
}