.footer{
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  /* background-color: rgb(15, 15, 15); */
  background: linear-gradient(to right, #000000, #434343);
  font-size: small;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(20, 20, 20);
}