#techs{
  text-align: center;
  justify-content: center;
}

.skillTitle{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3.75rem;
  font-weight: 900;
  /* margin-left: 40%; */
  border-bottom: 2px solid purple;
  
  
}

.outer{
  display: flex;
  justify-content: center;
  padding: 20px;
 gap: 100px;
  object-fit: contain;
 
  flex-wrap: wrap;


}
.image{
  height: 100px;
  width: 100px;
}
.image:hover{
  border: solid purple 6px;
  cursor: pointer;
}
.para{
  font: bold;
  font-size: 1.5rem;
}